/* #42102d; */
:root  > * {
  --md-primary-fg-color:        #2d0a1f;  
}

.md-header__title {
    font-family: "Ubuntu";
}

/* Hide Logos and Icons */

.md-header__button.md-logo {
  display: none;
}

.md-sidebar--primary .md-icon {
  display: none;
}